
# Ignore base game files
*.exe
*.dll
*.mdb
*.xml

# Ignore WIP files
*.bat
*.psd
*.dds
*.rar




# Ignore everything in game directory
ColdWaters_Data/*

# But don't ignore directories
!ColdWaters_Data/Managed
!ColdWaters_Data/StreamingAssets

# But don't ignore "file_to_be_staged.txt"
!!ColdWaters_Data/Managed/Assembly-CSharp.dll